.navbarEY{
    color: white;
    padding-bottom: 115px;
}
.rowEY{
   margin-top: 300px;
}
.colEY{
    transition: 0.25s ease-in-out;
    background-color: #333333;
    border: 1px solid #444;
    border-radius: 20px;
    text-align: center;
    margin-right: 15px;
    &:hover{
    transform: translateY(-20px);   
    transition: 0.25 ease-in-out;
    }
}



.titleEY{
    font-size: 22px;
    margin-top: 39px;
    font-weight: 500;
}
.numberEY{
    font-size: 50px;
    font-weight: 600;

}
.fontEY{
    font-size: 85px;
    padding-top: 10px;
    color: yellow;
}