.SkillTitle{
    color: wheat;
    float: left;
    margin-left: 69px;
    margin-top: 200px;
}

.SkillTitleh2{
    position: relative;
    display: block;
     text-align: left;
     font-weight: 700;
}
.SkillTitle::before{
    content: "";
    position: absolute;
    background-color: #353535;
    width: 5%;
    margin-top: 40px;
    height: 2px;
    
}
.SkillTitle::after{
    content: '';
    position: absolute;
    background-color: #007ced;
    width: 2%;
    height: 2px;
    margin-top: -6px;
    display: block;
}




.EvaluateTitle{
    color: wheat;
    float: left;
    margin-left: 69px;
    margin-top: 200px;
}

.EvaluateTitleTitleh2{
    position: relative;
    display: block;
     text-align: left;
     font-weight: 700;
     bottom: -384px;
    right: 163px;
}
.EvaluateTitle::before{
    content: "";
    position: absolute;
    background-color: #353535;
    width: 14%;
    margin-top: 430px;
    margin-left: -150px;
    height: 2px;
    
}
.EvaluateTitle::after{
    content: '';
    position: absolute;
    background-color: #007ced;
    width: 3%;
    height: 2px;
    margin-top: 384px;
    margin-left: -158px;
    display: block;
}