.nar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.menu-navbar{
  text-align: right;
  font-size: 14px;
    
  
  
}
.navbar-item{
    outline: none;
    text-decoration: none;
    padding-inline-start: 60px;
    color: #969696;
    &:hover{
      color: #fff;
    }
}