.title{
    color: wheat;
    position: relative;
    display: block;
    text-align: left;
    font-weight: 700;
    padding-left: 56px;
    margin-top: 69px;
}

.title-text{
    position: relative;
    display: block;
    text-align: left;
    font-weight: 700;
}
.title::before{
    content: "";
    position: absolute;
    background-color: #353535;
    width: 10%;
    bottom: 490px;
    height: 2px;
    margin-bottom: -499px;
    padding-left: 58px;

}
.title::after{
    content: "";
    position: absolute;
    background-color: #007ced;
    width: 3%;
    bottom: 490px;
    height: 2px;
    margin-bottom: -499px;
    display: block;
    padding-left: 58px;
}