.contentTitle{
    color: wheat;
    position: relative;
    display: block;
    text-align: left;
    font-weight: 700;
    padding-left: 56px;
    margin-top: 69px;
}

.h2{
    position: relative;
    display: block;
     text-align: left;
     font-weight: 700;
}
.contentTitle::before{
    content: "";
    position: absolute;
    background-color: #353535;
    width: 10%;
    bottom: 490px;
    height: 2px;
    margin-bottom: -499px;
    padding-left: 58px;

}
.contentTitle::after{
    content: "";
    position: absolute;
    background-color: #007ced;
    width: 3%;
    bottom: 490px;
    height: 2px;
    margin-bottom: -499px;
    display: block;
    padding-left: 58px;
}
.rowContent{
    padding-top: 105px;
    color: #d5d5d5;
    padding: 0 0 0 100px;
    margin-top: 64px;
  
}

.iconContent{
    display: contents;
}
.contentIcon{
   font-size: 55px;
   color: #007ced;

}
h4{
    color: white;

    &:hover{
        transform: translateX(20px);
        transition:0.25s ease-in-out ;
    }
}
#textCopywrite{
    
}

.rowContentDown{
    color: #d5d5d5;
    margin-top: 20px;
    padding: 0 0 0 100px;
}

.SelfGoals {
    color: wheat;
    position: relative;
    display: block;
     text-align: left;
     font-weight: 700;
     padding-left: 56px;
     margin-top: 69px
     
}
.SelfGoals::before{
    content: "";
    position: absolute;
    background-color: #353535;
    width: 9%;
    bottom: 490px;
    height: 2px;
    margin-bottom: -499px;
    padding-left: 58px
}
.SelfGoals::after{
    content: '';
    position: absolute;
    background-color: #007ced;
    width: 3%;
    bottom: 490px;
    height: 2px;
    margin-bottom: -499px;
    display: block;
    padding-left: 58px
}
.row_banner_img{
    color: #d5d5d5;
    padding-top: 56px;
}
.img-testimonual-1{
    width: 111px;
    border: 2px solid black;
    border-radius: 50%;
}

@media  (max-width:740px){
    #textCopywrite{
        width: 83px;
    }
    .contentTitle::before{
        width: 27%;
    }
    .SelfGoals::before{
        width: 20%;
    }
    .rowContent{
        padding: 0 0 0 18px;
    }
    .rowContentDown{
        padding: 0 0 0 18px;
    }
  }

@media (max-width:768px)
{
    .contentTitle::before{
        width: 22%;
    }
    #textCopywrite{
        width: 70%;
    }
    .SelfGoals::before{
        width: 16%;
    }
}