.content-title{
    color: wheat;
    position: relative;
    display: block;
    text-align: left;
    font-weight: 700;
    padding-left: 56px;
    margin-top: 69px;
}

.h2{
    position: relative;
    display: block;
     text-align: left;
     font-weight: 700;
}
.content-title::before{
    content: "";
    position: absolute;
    background-color: #353535;
    width: 10%;
    bottom: 490px;
    height: 2px;
    margin-bottom: -499px;
    padding-left: 58px;

}
.content-title::after{
    content: "";
    position: absolute;
    background-color: #007ced;
    width: 3%;
    bottom: 490px;
    height: 2px;
    margin-bottom: -499px;
    display: block;
    padding-left: 58px;
}
.row-content{
    padding-top: 105px;
    padding-right: 20px;
    color: #d5d5d5;
}
#text-p-Copywrite{
   
    padding-left: 169px;
     width: 704px;
    text-align: left;
    
}
#text-p-Ecommerce{
   
    padding-left: 169px;

    text-align: left;
    
}
.content_icon{
   font-size: 55px;
   padding-right: 700px;
   margin-left: 62px;
   color: #007ced;

}
h4{
    color: white;
    margin-top: -140px;
    padding-right: 398px;
}
.title-education{
    color: white;
    margin-top: -140px;
    padding-right: 293px;
}
.title-skill{
    color: white;
    margin-top: -140px;
    padding-right: 426px;
}
.row-content-down{
    color: #d5d5d5;
    padding-top: 56px;
}

.Testimonials {
    color: wheat;
    position: relative;
    display: block;
     text-align: left;
     font-weight: 700;
     padding-left: 56px;
     margin-top: 69px
     
}
.Testimonials::before{
    content: "";
    position: absolute;
    background-color: #353535;
    width: 9%;
    bottom: 490px;
    height: 2px;
    margin-bottom: -499px;
    padding-left: 58px
}
.Testimonials::after{
    content: '';
    position: absolute;
    background-color: #007ced;
    width: 3%;
    bottom: 490px;
    height: 2px;
    margin-bottom: -499px;
    display: block;
    padding-left: 58px
}
.row_banner_img{
    color: #d5d5d5;
    padding-top: 56px;
}
.img-testimonual-1{
    width: 111px;
    border: 2px solid black;
    border-radius: 50%;
}