.slideImg{
    margin-top: 300px;
}
.imgSl img{
    width: 227px;
    height: 120px;
    padding-left: 101px;
    object-fit: cover;
    outline: none;
}
@media (max-width:740px)
{
    .imgSl img{
    width: 160px;
    height: 81px
    }
}
@media (min-width:768px)
{
    .imgSl img{
        width: 184px;
        height: 115px;
    }
}