.MenuNavbarr{

  font-size: 20px;
  
}
.nar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.navbarItem{
    outline: none;
    text-decoration: none;
    color: #969696;
    padding-inline-start: 60px;

    &:hover{
      color: white;
    }    
}

@media (max-width:576px)
{
  .nar{
    display: inline-block;
  }
  .navbarItem{
    padding-inline-end: 32px;
    padding-inline-start: 0%;
  }
}
@media (min-width:768px)
{
  .navbarItem{
    padding-inline-start: 38px;
  }
}

