.Header{
    justify-content: flex-start;
     float: left;
    color: white;
    

}
.Name-Logo{
    padding-left: 150px;
    padding-top: 59px;
   
}
.logo-a{
  
    margin-top: -46px;
    margin-left: 85px;
     border: 2px solid #007ced;
     border-radius: 50%;
     width: 50px;
     height: 49px;
     font-size: 30px;
    line-height: 37px;
     background-color: #007ced;
     font-weight: 800;
  
    
}