.menu-navbar{
    text-align: right;
    margin-right: 40px;
    padding-top: 68px;
  padding-bottom: 205px;
  font-size: 20px;
    
  
  
}
.navbar-item{
    outline: none;
    text-decoration: none;
    padding-inline-start: 60px;
    color: #969696;
}