.homeBanner{
    position: relative;
    background-color: #444;
    border: 18px solid #444;
    width: fit-content;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    height: auto;

}

.banner_img{
   
    width: 460px;
    border: 2px solid black;
    border-radius: 50%;
    height: 460px;
    background-size: cover;

    @media screen and (max-width: 576px) {
        height: 200px;
        width: 200px;
      }
}

.textCol{
    color: white;
    text-align: left;
    padding-right: 75px;
    padding-top: 110px;
    
}
#text-p-banner{
    font-size: 20px;
    padding-left: -12px;

}
.h1, h1 {
    font-size: 3.5rem;
    padding-bottom: 24px;
    width: 450px;
}
.titleConTent{
    padding-top: 78px;
    color: #aaa;
}
.btnSkill{
    border: 2px solid #007ced;
    background-color: #222222;
    border-radius: 30px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0.8em;
    width: 200px;
   
}
.btnDownload{
    border: 2px solid #fff;
    background-color: #222222;
    border-radius: 30px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0.8em;
    width: 170px;
    margin-left: -36px;
}

#colValueContact{
   flex: 0 0;
}
.fontContact{
  color: yellow;
}
.faphoneMyself{
    font-style: oblique;
}

@media (min-width:768px)
{
    .btnDownload{
        margin-left: -108px;
    }
}
@media (max-width:740px)
{
    .btnSkill{
        width: 155px;
    }
    .btnDownload{
     width: 164px;
    margin-left: -18px;
    }
}