.home-banner{
    position: relative;
    background-color: #444;
    border: 18px solid #444;
    width: 538px;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    padding-bottom: calc(100% - 110px);

}

.banner_img{
    width: 473px;
    border: 2px solid black;
    border-radius:50% ;
    position:absolute;
    height: auto;
    top: 6px;
    left: 13px;
    background-size: cover;
}
.text-col{
    color: white;
    text-align: left;
    padding-right: 75px;
    padding-top: 110px;
    
}
#text-p-banner{
    font-size: 20px;
    padding-left: -12px;

}
.h1, h1 {
    font-size: 4.5rem;
    padding-bottom: 24px;
}
h4{
    padding-top: 78px;
    color: #969696;
}
.btn-dowload{
    border: 2px solid #007ced;
    background-color: #222222;
    border-radius: 30px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0.8em;
    width: 200px;
}
.btn-contact{
    border: 2px solid #fff;
    background-color: #222222;
    border-radius: 30px;
    font-size: 20px;
    line-height: 1.2;
    padding: 0.8em;
    width: 131px;
    margin-left: -102px;
}